* {
  box-sizing: border-box;
  font-family: Georgia;
}

html{
  height: 100%;
}

body {
  min-heigth: 100%;
}

/* Header text */
h1 {
  text-align: center;
  margin: 25px;
}

h2 {
  margin: 25px;
}

/* Images */
img {
  max-width:200px;
  max-height: 250px;
  border: 5px solid black;
  padding: 20px;
  display: block;
}

/* Main structure */
#mainGame {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

div .rock, div .paper, div .scissors {
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Images on the left */
#playerChoices img:hover {
  box-shadow: 0px 0px 25px 10px lightgray;
  cursor: pointer;

}

#playerChoices img:active {
  box-shadow: 0px 0px 30px 15px rgb(36, 167, 248);
  cursor: pointer;
}

.playerChoicesWhenClicked {
  box-shadow: 0px 0px 30px 15px rgb(36, 167, 248);
}

.playerChoiceEnd {
  box-shadow: none;
}

.aiChoosing {
  box-shadow: 0px 0px 30px 15px lightgray;
}

.aiChoice {
  box-shadow: 0px 0px 30px 10px purple;
}


#playerChoices, #aiChoices {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  
}

button {
  padding: 0;
  border: none;
  background: none;
  display: block;
}

/* Communication with a user. Text in the center */
#communication {
  align-self: center;
  justify-self: center;
  font-size: 25px;
  
  justify-content: center;
  text-align: center;
  font-family: Georgia;


}